<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyStroke.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KeyStroke.Properties.Settings>
            <setting name="onlyCombined" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monitor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Back" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Return" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Arrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Win" serializeAs="String">
                <value>False</value>
            </setting>
        </KeyStroke.Properties.Settings>
    </userSettings>
</configuration>